<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout :: head(${pessoa.id == null} ? 'Nova Pessoa' : 'Editar Pessoa')}"></head>

<body>
<nav th:replace="~{layout :: navbar}"></nav>

<main class="container">
  <div th:replace="~{layout :: alerts}"></div>

  <!-- CONTEÚDO DA PÁGINA -->
  <h1 th:text="${pessoa.id == null} ? 'Nova Pessoa' : 'Editar Pessoa'"></h1>
  <form th:action="@{/pessoas/salvar}" th:object="${pessoa}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome Completo</label>
      <input type="text" class="form-control" id="nome" th:field="*{nome}" required>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" th:field="*{email}" required>
    </div>
    <button type="submit" class="btn btn-success">Salvar</button>
    <a th:href="@{/pessoas}" class="btn btn-secondary">Cancelar</a>
  </form>
</main>

<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>